@font-face {
    font-family: "OpenSans";
    src: url('fonts/OpenSans-Regular.ttf');
}

* {
    font-family: 'OpenSans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.prices {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    grid-gap: 50px;
}

.box {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}
.subtitle {
    font-size: 18px;
    font-weight: bold;
}

header.header {
    position: sticky;
    top: 0;

}

.reserveBtn{
    background-color: #2C74B3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: .5s ease;
}
.reserveBtn:hover{
    opacity: .7;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: end;
    background: white;
}

img.logo {
    padding: 5px;
    width: 150px;
    transition: .5s ease;
}

img.logo:hover {
    opacity: 0.3;
}

li.nav {
    align-items: end;
    display: inline;
    color: white;
}

li a {
    /* margin-top: 120px; */
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover:not(.active) {
    opacity: 0.3;
}

li.active {
    font-weight: bold;
    opacity: 0.5;
}

/* .maincontainer {
    margin-top: 100px;
} */

h1.title {
    text-align: center;
}